<div class="container">
  <div class="card">
    <form [formGroup]="formValue" class="form-group">
      <div class="container">
        <div class="row m-3">
          <div class="col-md-6">
            <label for="">Név</label>
            <input type="text" placeholder="Név" class="form-control" formControlName="nev">
          </div>
          <div class="col-md-6">
            <label for="">Cím</label>
            <input type="text" placeholder="Cím" class="form-control" formControlName="cim">
          </div>
          <div class="col-md-6">
            <label for="">Telefonszám</label>
            <input type="text" placeholder="Telefonszám" class="form-control" formControlName="telefonszam">
          </div>
          <div class="col-md-6">
            <label for="">Kor</label>
            <input type="text" placeholder="Kor" class="form-control" formControlName="kor">
          </div>
          <div class="col-md-6">
            <label for="">Nem</label>
            <select name="nem" id="nem" class="form-control" formControlName="nem">
              <option *ngFor="let nem of nemek" [value]="nem">{{nem}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div>
      <button (click)="adduser(user)" class="btn btn-info">Bevitel</button>
    </div>
  </div>
</div>


<div class="container">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Név</th>
        <th>Cím</th>
        <th>Telefonszám</th>
        <th>Kor</th>
        <th>Nem</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{formValue.value.nev}}</td>
        <td>{{formValue.value.cim}}</td>
        <td>{{formValue.value.telefonszam}}</td>
        <td>{{formValue.value.kor}}</td>
        <td>{{formValue.value.nem}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>

<!--API (json)-->

<div class="container">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Sorszám</th>
        <th>Név</th>
        <th>Cím</th>
        <th>Telefonszám</th>
        <th>Kor</th>
        <th>Nem</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.nev}}</td>
        <td>{{user.cim}}</td>
        <td>{{user.telefonszam}}</td>
        <td>{{user.kor}}</td>
        <td>{{user.nem}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr>

<!-- Two way databinding -->

<div class="container">
  <div class="card">

    <form [formGroup]="formExample" class="form-group">
      <h1 class="text-center">Gyakorlás</h1>
      <div class="row m-3">
        <div class="col-md-6">
          <label for="">Name</label>
          <input type="text" class="form-control" [formControl]="userName" >
        </div>
        <div class="col-md-6">
          <label for="">Age</label>
          <input type="text"  class="form-control" [formControl]="userAge">
        </div>
        <div class="col-md-6">
          <label for="">Gender</label>
          <input type="text"  class="form-control" [formControl]="userGender">
        </div>
        <div class="col-md-6">
          <label for="">Hobbies</label>
          <input type="text"  class="form-control" [formControl]="userHobbies">
        </div>
      </div>
    </form>

  </div>
</div>

<div class="container">
  <table class="table-striped w-100">
    <thead>
      <tr class="text-center">
        <th class="w-25" >Name</th>
        <th class="w-25">Age</th>
        <th class="w-25">Gender</th>
        <th class="w-25">Hobbies</th>
      </tr>
      <tr class="text-center">
        <td>{{userName.value}}</td>
        <td>{{userAge.value}}</td>
        <td>{{userGender.value}}</td>
        <td>{{userHobbies.value}}</td>
      </tr>
    </thead>
  </table>
</div>


<hr>
<hr>
<!-- ngModel -->
<h1>[(ngModel using)]</h1>
<input type="text" placeholder="ngmodel test" [(ngModel)]="modelTest" />

<p>{{modelTest}}</p>

<button (click)="check()">Check value</button>
<button (click)="change()">Change text </button>